[Unit]
Description=display
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/debauer/deskpi
ExecStart=/usr/bin/python3 src/display.py
Environment=PYTHONUNBUFFERED=1
User=debauer
Group=debauer

SyslogIdentifier=display
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target